{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#"><img style="height:20px;" src="{% static logo %}">{{ site_name }}</a>
                    <ul class="nav">
                        <li class="active"><a href="{% url 'index' %}">Browse</a></li>
                        <li><a href="#">Upload</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="well well-small">
                {% crispy search_form %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span4 offset1">Name</div>
                    <div class="span2">Tags</div>
                    <div class="span1">Total Size</div>
                </div>
                {% for torrent in torrents %}
                <hr>
                <div class="row-fluid">
                    <div class="span4 offset1">{{ torrent.name }}</div>
                    <div class="span2">
                        {% for group in torrent.groups.all %}
                            <a href="{% url 'search' %}?group={{ group.name|urlencode }}"><span class="label label-info">{{ group.name }}</span></a>
                        {% endfor %}
                    </div>
                    <div class="span1">{{ torrent.total_filesize }}</div>
                    <div class="span2"><button class="btn btn-success pull-right" href="{{ torrent.torrent.url }}"><i class="icon-download"></i> Download</button></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}